@use '../../shared/styles/colors' as *;
@use '../../shared/styles/mixins' as *;

.base {
  @include size(100%, auto);
  min-height: 550px;
  background-color: $bg_white;
  margin-bottom: 30px;
  position: relative;
  border-radius: 5px;
}
.table {
  @include size(inherit, auto);
  border-collapse: collapse;
}
.table tr {
  @include size(100%, 50px);
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.table td {
  @include size(auto, 50px);
  @include font(12px, 500);
  text-align: center;
  white-space: nowrap;
  border-bottom: 1px solid $lc_gray300;
}

.none {
  @include size(100%, inherit);
  position: absolute;
  top: 50%;
  text-align: center;
  color: $fc_gray500;
  td {
    font-size: 16px;
    border-bottom: none;
  }
}
// 체크박스 , index number
.table th:nth-child(1),
.table td:nth-child(1),
.table th:nth-child(2),
.table td:nth-child(2) {
  @include size(5%, inherit);
  text-align: center;
}

// 키워드
.table th:nth-child(3),
.table td:nth-child(3) {
  @include size(30%, inherit);
  text-align: left;
}
// 	현재순위
.table th:nth-child(4),
.table td:nth-child(4) {
  @include size(10%, inherit);
  text-align: center;
}

// 순위별 클릭 수, 순위별 총 광고비 , 노출 상태 , 광고 수정
.table th:nth-child(5),
.table td:nth-child(5),
.table th:nth-child(6),
.table td:nth-child(6),
.table th:nth-child(7),
.table td:nth-child(7),
.table th:nth-child(8),
.table td:nth-child(8) {
  @include size(10%, inherit);
  text-align: center;
}

.link button {
  @include font(12px, 500);
  color: $fc_blue300;
}
.checkbox[type='checkbox'] {
  @include checkbox;
}
