@use '../../shared/styles/colors' as *;
@use '../../shared/styles/mixins' as *;

$title: $fc_blue300;

.base {
  @include size(100%, 362px);
  background-color: $bg_white;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.title {
  @include font(14px, bold, $fc_blue400);
  color: $title;
  margin-bottom: 4px;
}
.subTitle {
  color: $fc_blue400;
  margin-bottom: 20px;
}
.adChart {
  position: absolute;
  bottom: 0;
}
