@use '../../shared/styles/colors' as *;
@use '../../shared/styles/mixins' as *;

$fc_color_home: $fc_white;
$bg_color_home: $bg_blue200;
$fc_color_nav: $fc_blue300;
$bg_color_nav: $bg_white;
$radius: 5px;

.bizMoney {
  border-radius: $radius;
}
//--bizMoney (home,nav) --
.bizMoney.home {
  @include size(100%, 205px);
  padding: 20px;
  background-color: $bg_color_home;
  background-repeat: no-repeat;
  background-position: right center;
  margin-bottom: 20px;
}
.bizMoney.nav {
  @include size(calc(100% - 32px), auto);
  background-color: $bg_color_nav;
  padding: 12px;
}

//-- title (home,nav)
.home h3 {
  @include font(26px, 500, $fc_color_home);
}
.nav h3 {
  @include font(14px, 500, $fc_color_nav);
  margin-left: 4px;
}
.titleBox {
  overflow: hidden;
  margin-bottom: 10px;
  h3,
  img {
    float: left;
  }
}
//home subtitle
.home .subtitle {
  @include font(14px, 300, $fc_color_home);
  margin: 12px 0 40px;
}

//-- money (home,nav)
.money {
  @include flex($j: space-between, $a: center);
}
.home .money {
  @include font(36px, 500, $fc_color_home);
  span {
    @include font(24px, 400, $fc_color_home);
  }
}
.nav .money {
  @include font(16px, 500, $fc_color_nav);
  span {
    @include font(16px, 400, $fc_color_nav);
  }
}
