@use '../../shared/styles/colors' as *;
@use '../../shared/styles/mixins' as *;

@mixin color($font_color, $bg_color) {
  color: $font_color;
  background-color: $bg_color;
}

.base {
  @include size(100%, 100%);
  @include color($fc_blue300, $bg_white);
  padding: 20px;
  border-radius: 5px;
}
.title {
  @include font(14px, bold, $fc_blue300);
  margin-bottom: 14px;
}
.rankingBox {
  @include size(100%, 45px);
  margin-bottom: 10px;
  padding: 10px 16px;
  border-radius: 5px;
  @include font(14px, bold, $fc_blue300);
  &:first-of-type {
    @include color($fc_blue100, $bg_gray100);
    border: 1px solid $fc_blue100;
  }
  &:first-of-type span {
    @include color($fc_white, $bg_blue100);
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}
.rankingText {
  @include size(26px, 26px);
  @include color($fc_blue400, $bg_gray100);
  line-height: 26px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  margin-right: 12px;
}
