@use '../../shared/styles/colors';

.base {
  width: 100%;
  min-height: 550px;
  background-color: colors.$bg_white;
  margin-bottom: 30px;
  position: relative;
  border-radius: 5px;
}
.table {
  width: inherit;
  border-collapse: collapse;
}
.table tr {
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.table td {
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
  height: 50px;
  border-bottom: 1px solid colors.$lc_gray300;
}

.none {
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
  color: colors.$fc_gray500;
  td {
    font-size: 16px;
    border-bottom: none;
  }
}
// 체크박스 , index number
.table th:nth-child(1),
.table td:nth-child(1),
.table th:nth-child(2),
.table td:nth-child(2) {
  text-align: center;
  width: 5%;
}
//상품번호
.table th:nth-child(3),
.table td:nth-child(3) {
  text-align: center;
  width: 15%;
}

// 상품노출 , 수정버튼
.table th:nth-child(6),
.table td:nth-child(6),
.table th:nth-child(7),
.table td:nth-child(7) {
  width: 10%;
}
//카테고리
.table th:nth-child(4),
.table td:nth-child(4) {
  width: 15%;
}
//상품명
.table th:nth-child(5),
.table td:nth-child(5) {
  text-align: left;
  width: 40%;
}
.hover a {
  cursor: pointer;
  color: colors.$fc_blue300;
  font-weight: 400;
  &:hover {
    text-decoration: underline;
  }
  &:visited {
    color: colors.$fc_blue300;
  }
}
.link a {
  color: colors.$fc_blue300;
  &:hover {
    text-decoration: none;
  }
}
.checkbox[type='checkbox'] {
  cursor: pointer;
  width: 12px !important;
  height: 12px !important;
  border: 1px solid colors.$lc_gray400;
  &:checked {
    accent-color: colors.$bg_blue100;
  }
}
