@use '../../shared/styles/colors' as *;
@use '../../shared/styles/mixins' as *;

$height_size: 80px;
$pointer: pointer;
%cursor_pointer {
  cursor: pointer;
}

header {
  @include size(100%, $height_size);
  line-height: $height_size;
  position: fixed;
  z-index: 99;
  background-color: $bg_white;
  border-bottom: 1px solid $lc_gray400;
  img {
    @include size(150px, 35px);
    @extend %cursor_pointer;
    margin: calc((#{$height_size} - 35px) / 2) 53px;
  }
}
.asideBtnMenu,
.asideBtnMenu button {
  margin-right: 40px;
}
.asideBtnMenu {
  float: right;
  span {
    @extend %cursor_pointer;
  }
}
