@use '../../shared/styles/mixins' as *;

#MainWrap {
  @include size(100%, auto);
  position: relative;
  main {
    position: absolute;
    top: 80px;
    min-height: calc(100vh - 80px);
  }
}
.mainSection {
  @include size(86vw, auto);
  margin-left: 13vw;
}
