@use '../../shared/styles/colors' as *;
@use '../../shared/styles/mixins' as *;

#navWrap {
  @include size(13vw, calc(100vh - 80px));
  @include flex($d: column, $j: space-between);
  position: fixed;
  background-color: $bg_white;
  flex-grow: 1;
}

.bizMoneyBox {
  @include size(100%, 168px);
  @include flex($a: center, $j: center);
  background-color: $bg_gray300;
}

.navListBox {
  @include size(100%, auto);
  @include font(18px, 600);
  margin: 20px 0 0 0;
  padding-left: 40px;
  line-height: 45px;
  flex-grow: 1;
  list-style: none;
  li {
    margin-top: 8px;
  }
  a {
    text-decoration: none;
  }
}
.inActive {
  color: $fc_blue400;
}
.isActive {
  font-weight: 700;
  color: $fc_blue100;
  &:before {
    @include size(12px, 56px);
    position: absolute;
    content: '';
    left: 0;
    background-color: $fc_blue100;
    border-radius: 0% 100px 100px 0;
  }
}

.withdrawalBtnBox {
  @include size(100%, auto);
  padding: 0 18px 18px;
  margin-bottom: 20px;
}
