@use '../../shared/styles/colors' as *;
@use '../../shared/styles/mixins' as *;

#container {
  @include size(460px, auto);
  @include flex($d: column);
  margin-top: 60px;

  & .wrapper {
    @include size(100%, 50px);
    @include flex;
  }

  section & .tab {
    @include flex($j: center, $a: center);
    @include size(50%, inheriet);
    @include font(16px, 500, $fc_gray500);
    background: $bg_gray200;
    border: {
      bottom: 1px solid $lc_blue100;
      radius: 5px 5px 0px 0px;
    }
    cursor: pointer;
    &.active {
      @include font(16px, 500, $fc_blue100);
      background: $bg_white;
      border: {
        width: 1px 1px 0px 1px;
        style: solid;
        color: $lc_blue100;
      }
    }
  }
}
