$fc_blue100: #4e60ff;
$fc_blue300: #141740;
$fc_blue400: #696f8c;
$fc_gray400: #d8dae5;
$fc_gray500: #888888;
$fc_white: #ffffff;
$fc_red: #ee002f;
$fc_green: #009667;

$bg_blue100: #4e60ff;
$bg_blue200: #283080;
$bg_blue300: #141740;
$bg_blue400: #696f8c;
$bg_blue500: #243369;
$bg_blue600: #007dff;
$bg_gray100: #f3f4ff;
$bg_gray200: #f6f6fa;
$bg_gray300: #edeef2;
$bg_gray400: #a5a9ba;
$bg_gray500: #888888;
$bg_white: #ffffff;
$bg_green: #5ca8b3;
$bg_yellow: #ffbb5c;
$bg_purple: #9ca4ff;

$lc_blue100: #4e60ff;
$lc_blue400: #696f8c;
$lc_gray300: #edeef2;
$lc_gray400: #d8dae5;
$lc_gray500: #888888;
