@use '../styles/colors' as *;

@mixin layoutBase {
  background-color: $bg_gray200;
  color: $fc_blue300;
}

@mixin size($w, $h) {
  width: $w;
  height: $h;
}

@mixin flex($d: row, $j: none, $a: none, $g: none) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
  gap: $g;
}

@mixin font($s: 14px, $w: 400, $c: $fc_blue300) {
  font-size: $s;
  font-weight: $w;
  color: $c;
}

@mixin filter_wrapper($g: 32px) {
  width: 83vw;
  display: flex;
  background: $bg_white;
  padding: 20px 24px;
  border-radius: 5px;
  margin-top: 16px;
  gap: $g;
}

@mixin title {
  @include size(100%, auto);
  @include font($s: 30px, $w: 700);
  padding: 24px 32px;
}
@mixin checkbox {
  cursor: pointer;
  width: 12px !important;
  height: 12px !important;
  border: 1px solid $lc_gray400;
  &:checked {
    accent-color: $bg_blue100;
  }
}
