@use '../shared/styles/colors' as *;
@use '../shared/styles/mixins' as *;

#container {
  @include size(50vw, 100vh);
  @include flex(column, center, center);
  > img {
    width: 200px;
    height: 50px;
  }
  > p {
    margin-top: 25px;
    @include font(24px, 500);
  }
}
