@use '../shared/styles/mixins' as *;

#container {
  @include flex($j: space-between);
  margin: 40px 32px;
  overflow: hidden;
  box-sizing: border-box;
}
.container_left {
  @include size(58%, auto);
  @include flex($j: space-between, $d: column);
}
.contentWrapper {
  @include flex($j: space-between);
}
.content_left {
  flex-basis: 40%;
}
.content_right {
  @include flex($j: space-between, $d: column);
  flex-basis: 57%;
}

.container_right {
  @include size(40%, auto);
}
