@use '../../shared/styles/colors' as *;
@use '../../shared/styles/mixins' as *;

.base {
  @include size(100%, 100vh);
  background-color: rgb(0, 0, 0, 0.7);
  position: fixed;
  z-index: 999;
}
.modalContent {
  @include size(254px, auto);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -127px;
  margin-top: -64px;
  background-color: $bg_white;
  border-radius: 5px;
  overflow: hidden;
  h2 {
    @include font(14px, 400);
    padding: 24px 20px;
    text-align: center;
  }
}
.subTitle {
  text-align: center;
  padding-bottom: 24px;
}
.btnBox {
  @include flex;
}
