@use '../shared/styles/colors' as *;
@use '../shared/styles/mixins' as *;

button {
  background: none;
  border: none;
  border-radius: 5px;
  @include font(14px, 500, $fc_gray500);
  &:disabled {
    background: $bg_gray200;
  }

  &.big_blue {
    background: $bg_blue100;
    @include size(335px, 52px);
    @include font(16px, 500, $fc_white);
  }
  &.big_gray {
    background: $bg_gray200;
    @include size(335px, 52px);
    @include font(16px, 500, $fc_blue400);
  }
  &.medium_blue {
    background: $bg_blue100;
    @include size(200px, 40px);
    @include font(14px, 500, $fc_white);
  }
  &.medium_white {
    background: $fc_white;
    border: 1px solid $bg_blue100;
    @include size(200px, 40px);
    @include font(14px, 500, $bg_blue100);
  }
  &.medium_gray {
    background: $bg_gray400;
    @include size(200px, 40px);
    @include font(14px, 500, $fc_white);
  }
  &.small_blue {
    background: $bg_blue100;
    @include size(90px, 40px);
    @include font(14px, 500, $fc_white);
  }
  &.small_gray {
    background: $bg_blue400;
    @include size(90px, 40px);
    @include font(14px, 500, $fc_white);
  }
  &.xsmall_blue {
    background: $bg_blue200;
    @include size(50px, 30px);
    @include font(14px, 500, $fc_white);
  }

  &.border_img {
    @include flex($j: center, $a: center, $g: 5px);
    @include size(auto, 40px);
    border: 1px solid $lc_gray500;
    border-radius: 5px;
    background: $bg_white;
    text-decoration: none;
    img {
      @include size(20px, auto);
    }
  }
  &.border_small_blue {
    border: 1px solid $lc_blue100;
    @include size(90px, 40px);
    @include font(14px, 500, $fc_blue100);
  }
  &.border_medium_gray {
    border: 1px solid $lc_blue400;
    @include size(100%, 40px);
    @include font(14px, 500, $fc_blue400);
  }
  &.medium_modal_hide {
    border: 1px solid $lc_gray500;
    border-radius: 0 0 0 5px;
    @include size(100%, 40px);
    @include font(14px, 500, $fc_gray500);
  }
  &.medium_modal_success {
    background: $bg_gray500;
    border-radius: 0 0 5px 0;
    @include size(100%, 40px);
    @include font(14px, 500, $fc_white);
  }
}
