@use '../shared/styles/colors' as *;
@use '../shared/styles/mixins' as *;

button {
  background: none;
  border: none;
  border-radius: 5px;
  @include font(14px, 500, $fc_gray500);
  &:disabled {
    background: $bg_gray200;
  }

  &.big_blue {
    background: $bg_blue100;
    @include size(335px, 52px);
    @include font(16px, 500, $fc_white);
  }
  &.big_gray {
    background: $bg_gray200;
    @include size(335px, 52px);
    @include font(16px, 500, $fc_blue400);
  }
  &.medium_blue {
    background: $bg_blue100;
    @include size(200px, 40px);
    @include font(14px, 500, $fc_white);
  }
  &.small_blue {
    background: $bg_blue100;
    @include size(90px, 40px);
    @include font(14px, 500, $fc_white);
  }
  &.small_gray {
    background: $bg_blue400;
    @include size(90px, 40px);
    @include font(14px, 500, $fc_white);
  }
}
