@use '../shared/styles/colors';
@use '../shared/styles/mixins';

input {
  @include mixins.font(14px, 400);
  padding: 0px 20px;
  border: 1px solid colors.$lc_gray400;
  border-radius: 8px;
  color: colors.$fc_blue300;
  &::placeholder {
    color: colors.$fc_blue400;
  }
  &:focus {
    outline: none;
  }
  &.login {
    @include mixins.size(335px, 60px);
  }
  &.input100 {
    text-align: center;
    @include mixins.size(100px, 40px);
  }
  &.input200 {
    @include mixins.size(200px, 40px);
  }
  &.input250 {
    @include mixins.size(250px, 40px);
  }
  &.input290 {
    @include mixins.size(290px, 40px);
  }
  &.input500 {
    @include mixins.size(500px, 40px);
  }
}
