@use '../shared/styles/colors' as *;
@use '../shared/styles/mixins' as *;

input {
  @include font(14px, 400, $fc_blue300);
  padding: 0px 20px;
  border: 1px solid $lc_gray400;
  border-radius: 8px;
  &::placeholder {
    color: $fc_blue400;
  }
  &:focus {
    outline: none;
  }
  &.login {
    @include size(335px, 60px);
  }
  &.input100 {
    text-align: center;
    @include size(100px, 40px);
  }
  &.input200 {
    @include size(200px, 40px);
  }
  &.input250 {
    @include size(250px, 40px);
  }
  &.input290 {
    @include size(290px, 40px);
  }
  &.input500 {
    @include size(500px, 40px);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: input;
  -moz-appearance: input;
  -webkit-appearance: input;
}
