@use '../../shared/styles/colors';

.base {
  display: flex;
  flex-basis: 32%;
  border-radius: 5px;
  background-color: colors.$bg_white;
  padding: 20px;
}
.iconBox {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  img {
    width: 26px;
    height: auto;
    margin: auto;
  }
}
.newOrder {
  background-color: colors.$bg_green;
}
.lastMonth {
  background-color: colors.$bg_yellow;
}
.exposedProd {
  background-color: colors.$bg_purple;
}
.info {
  display: flex;
  flex: 26px 1;
  flex-direction: column;
  text-align: left;
  padding-left: 12px;
}
.title {
  font-size: 14px;
  font-weight: 500;
}
.contentText {
  font-size: 22px;
  font-weight: bold;
  padding-top: 2px;
}
