@use '../../shared/styles/colors' as *;
@use '../../shared/styles/mixins' as *;

.base {
  @include flex;
  flex-basis: 32%;
  border-radius: 5px;
  background-color: $bg_white;
  padding: 20px;
}
.iconBox {
  @include size(60px, 60px);
  border-radius: 50%;
  @include flex($j: center);
  img {
    @include size(26px, 26px);
    margin: auto;
  }
}
.newOrder {
  background-color: $bg_green;
}
.lastMonth {
  background-color: $bg_yellow;
}
.exposedProd {
  background-color: $bg_purple;
}
.info {
  @include flex($d: column);
  flex: 26px 1;
  text-align: left;
  padding-left: 12px;
}
.title {
  @include font(14px, bold, $fc_blue300);
}
.contentText {
  @include font(22px, bold, $fc_blue300);
  padding-top: 2px;
}
