@use '../../shared/styles/mixins' as *;

#Editor {
  @include size(100%, auto);
  @include flex($d: row);
  box-sizing: border-box;
  margin-bottom: 20px;
  p {
    @include font(16px, 600);
    @include size(120px, auto);
    margin: 0px;
  }
  .reactQuill {
    @include size(100%, 700px);
  }
}
