@use '../../shared/styles/mixins' as *;
@use '../../shared/styles/colors' as *;

#Option {
  @include flex($d: column);
  ul {
    @include flex($d: row);
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
      @include font(16px, 700, $fc_blue400);
      @include size(220px, auto);
      @include flex($d: row, $a: center);
      input {
        @include size(15px, 15px);
        margin-right: 10px;
      }
    }
    li:nth-child(1) {
      @include size(280px, auto);
    }
  }
  .wrap {
    @include flex($d: row, $g: 20px);
    margin-top: 10px;
    margin-bottom: 20px;
    .colorPicker {
      @include size(40px, 40px);
      border: 1px solid $lc_gray400;
      border-radius: 8px;
      padding: 2px;
    }
    p {
      @include font(16px, 700, $fc_blue100);
      margin: 10px 0;
    }
  }
  .btnWrap {
    margin-top: 10px;
  }
}
