@use '../../shared/styles/mixins';
@use '../../shared/styles/colors';

#Option {
  @include mixins.flex-column;
  ul {
    @include mixins.flex-row;
    list-style: none;
    padding: 0px;
    margin: 0px;
    li {
      @include mixins.font(16px, 700);
      @include mixins.size(262px, auto);
      display: flex;
      align-items: center;
      color: colors.$fc_blue400;
      input {
        @include mixins.size(15px, 15px);
        margin-right: 10px;
      }
    }
    li:nth-child(1) {
      @include mixins.size(320px, auto);
    }
  }
  .wrap {
    @include mixins.flex-row;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    .colorPicker {
      @include mixins.size(40px, 40px);
      border: 1px solid colors.$lc_gray400;
      border-radius: 8px;
      padding: 2px;
    }
    p {
      @include mixins.font(16px, 700);
      color: colors.$fc_blue100;
      margin: 10px 0;
    }
  }
  .btnWrap {
    margin-top: 10px;
  }
}
