@use '../../shared/styles/mixins' as *;
@use '../../shared/styles/colors' as *;

#PostForm {
  @include size(100%, auto);
  @include flex($d: column, $j: center);
  .container {
    @include flex($d: column);
    .form {
      @include flex($d: column);
      @include size(95%, auto);
      background-color: $bg_white;
      margin: 0 auto;
      padding: 60px;
      .wrap {
        @include flex;
      }
    }
  }
  .btnWrap {
    justify-content: center;
    margin: 60px auto;
  }
}

section {
  @include flex($d: column);
  .left {
    @include size(120px, auto);
    ul {
      list-style: none;
      padding: 0px;
      margin: 0px;
      li {
        @include font(16px, 600);
        @include size(100%, 70px);
      }
      li:nth-child(4) {
        @include size(100%, 120px);
      }
      li:nth-child(5) {
        @include size(100%, 110px);
      }
    }
  }
  .right {
    @include size(100%, auto);
    .content {
      @include flex;
      @include size(100%, 70px);
      span {
        @include font(16px, 500, $fc_blue400);
        margin: 10px 10px;
      }
      p {
        @include font(16px, 500);
        margin: 10px 10px;
      }
      .label {
        @include font(16px, 600);
        margin: 4px 30px 0 54px;
      }
      .textArea {
        @include size(50%, 90px);
        box-sizing: border-box;
        padding: 19px 20px;
        border: 1px solid $lc_gray400;
        border-radius: 8px;
        resize: none;
        &::placeholder {
          color: $fc_blue400;
        }
      }
    }
    .content:nth-child(4) {
      @include size(100%, 120px);
    }
    .content:nth-child(5) {
      @include size(100%, 110px);
    }
    .content:nth-child(6) {
      @include size(100%, auto);
      margin-bottom: 40px;
    }
  }
}
