@use '../../shared/styles/mixins';
@use '../../shared/styles/colors';

#Thumbnail {
  @include mixins.size(100%, auto);
  @include mixins.flex($d: row);
  img {
    @include mixins.size(80px, 80px);
    margin-right: 24px;
    object-fit: contain;
  }
  img:hover {
    cursor: pointer;
  }
  input {
    display: none;
  }
}
