@use '../../shared/styles/colors';

.base {
  margin-bottom: 15px;
}
.accordion_titleBox {
  width: 100%;
  font-size: 16px;
  font-weight: bold;

  border-radius: 5px;
  cursor: pointer;
  button {
    width: 100%;
    padding: 14px 20px;
    color: colors.$bg_white;
    text-align: left;
  }
  .active {
    background-color: colors.$bg_blue200;
  }
  .inactive {
    background-color: colors.$bg_gray400;
  }
}
.title {
  font-size: 16px;
}

.plus::after {
  content: '+';
  float: right;
  transition: 0.3s;
}
.minus::after {
  content: '-';
  float: right;
  transition: 0.3s;
}

.accordion_panel p {
  font-size: 14px;
}
.panel_close {
  display: none;
}
.panel_open {
  padding: 20px;
  display: block;
}
