@use '../../shared/styles/colors' as *;
@use '../../shared/styles/mixins' as *;

.base {
  margin-bottom: 15px;
}
.accordion_titleBox {
  @include size(100%, auto);
  border-radius: 5px;
  cursor: pointer;
  button {
    @include size(inherit, auto);
    @include font(16px, bold, $bg_white);
    text-align: left;
    padding: 14px 20px;
  }
  .active {
    background-color: $bg_blue200;
  }
  .inactive {
    background-color: $bg_gray400;
  }
}

.plus::after {
  content: '+';
  float: right;
  transition: 0.3s;
}
.minus::after {
  content: '-';
  float: right;
  transition: 0.3s;
}

.accordion_panel p {
  @include font(14px, 400, $fc_blue300);
}
.panel_close {
  display: none;
}
.panel_open {
  padding: 20px;
  display: block;
}
