@use '../../shared/styles/colors' as *;
@use '../../shared/styles/mixins' as *;

.base {
  @include size(100%, 100vh);
  overflow: hidden;
}
.container {
  position: relative;
}

.carouselList {
  @include size(100%, 100vh);
  @include flex;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.carouselListItem {
  flex: 1 0 100%;
  transition: 200ms ease;
  img {
    @include size(100%, auto);
    transition: 200ms ease;
  }
}
.activeIndex0 {
  transform: translateX(0);
}
.activeIndex1 {
  transform: translateX(-100%);
}
.activeIndex2 {
  transform: translateX(-200%);
}
.nav {
  position: absolute;
  list-style: none;
  left: calc(50% - 30px);
  top: 20px;
}
.navItem {
  display: inline-block;
}
.navBtn {
  @include size(15px, 15px);
  border-radius: 80%;
  background-color: $bg_white;
  opacity: 0.3;
  margin-left: 5px;
}
.activeNav {
  opacity: 1;
}
