@use '../../shared/styles/colors' as *;
@use '../../shared/styles/mixins' as *;

.base {
  @include size(100%, auto);
  background-color: $bg_blue600;
  border-radius: 5px;
  padding: 24px 20px;
  position: relative;
  color: $fc_white;
  margin-bottom: 20px;
  cursor: pointer;
}
.title {
  @include font(24px, 500, $fc_white);
}
.subText {
  @include font(16px, 300, $fc_white);
  margin-top: 8px;
}
.characterImg {
  @include size(125px, auto);
  position: absolute;
  right: 30px;
  bottom: 0;
}
