@use '../../shared/styles/colors' as *;
@use '../../shared/styles/mixins' as *;

.base {
  @include size(100%, 100%);
  background-color: $bg_white;
  border-radius: 5px;
}
.article {
  @include size(90%, 200%);
  margin: 0 auto;
}
.heading {
  @include font(14px, normal, $bg_blue200);
  padding: 40px 0;
  text-align: center;
  span {
    @include font(30px, bold, $bg_blue200);
    margin-bottom: 5px;
    display: inline-block;
  }
}
